.header-container span {
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-container span h6 {
  padding-right: 1%;
  border-right: 2px solid;
}
.header-img {
  margin: 2px;
}
.header-img img {
  width: 50px;
}
.content-container {
  margin-top: 35px;
  display: flex;
  background-color: rgba(221, 227, 227, 0.46);
  justify-content: center;
  flex-direction: column;
}
.content-c {
  margin: 10px;
  border-radius: 12px;
}
.action-button {
  margin-right: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}
.button-items.delete {
  align-items: center;
  overflow: hidden;
  background-color: red;
}
.button-items{
  width: 45%;
  color: whitesmoke;
  border-radius: 10px;
}
.button-items.update {
  width: 100%;
  padding: 8px;
  text-align: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.button-items.update:hover {
  color: rgb(237, 231, 231);
  background-color: rgb(110, 162, 223);
}
.button-items.delete:hover {
  border: 2px red solid;
  color: rgb(216, 31, 31);
  background-color: rgba(227, 222, 215, 0.601);
}
.items-icon.delete {
  width: 15px;
  height: auto;
}
.container-nav{
  border: 2px solid rgb(145, 135, 24);
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
}
.container-nav ul{
  height: 100%;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cont-nav{
  padding: 1rem 10rem;
  list-style-type: none;
  color: aliceblue;
}
.container-nav ul Link{
  height: 100%;
}
.cont-nav:hover {
  background-color: rgb(162, 162, 32); 
  color: rgb(0, 0, 0);
  border-radius: 12px;
}
.add-items{
  display: flex;
  justify-content: end ;
}
.add-staff-btn {
  color: rgb(32, 179, 64);
  background-color: transparent;
  border: 2px solid rgb(215, 193, 21);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: .3s all linear;
  border-radius: 10px;
}
.add-staff-btn:hover {
  background-color: rgb(24, 144, 58);
  color: #fff;
}
