.search-results-wrapper{
  position: absolute; 
  top: 70%; 
  right: 18px; 
  background-color: rgb(25, 25, 21);
  padding: 2px 0;
  border-radius: 10px;
  width: 280px;
  max-height: 250px; 
  overflow-y: auto; 
  z-index: 9999;
}
.wd-scroll-content{
  margin: 17px 0;
}
.link-contents{
  display: flex;
  padding-left: 35px;
  padding: 10px;
}
.link-contents:hover{
  background-color: rgba(117, 126, 135, 0.553);
  border-radius: 10px;
}
.link-contents:hover h6 {
  color: rgb(237, 163, 99);
}
.link-contents:hover .cont-img{
  width: 90px;
  transition: 1.0s;
  
}
.cont-img{
  width: 55px;
  border-radius: 10px;
}
.text-item{
  margin-left: 8px;
  display: flex;
}
.link-contents h6{
  color: aliceblue;
  margin: auto;
  font-size: 1vw;
}
  