@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Hind:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

.navbar {
  padding: 0px;
}
.Header-text {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-size: 15px;
}

.home-page-header {
  background-color: white;
  padding-left: 0rem
}

#searchForm {
  background-color: #E5E5E5;
  border-radius: 5px 0px 0px 5px;
}

#searchFormBtn {
  border-radius: 0px 5px 5px 0px;
  padding-bottom: 8.4px 
}

#searchArea {
  margin-right: 34px
}

.homePagesLogan {
  background-color: white;
  border-radius: 0px 0px 0px 0px;
  padding: 0rem;
}

#homePagesLogan {
  border-radius: 0px;
}

.card {
  border-radius: 0px;
}

.CarouselCard {
  width: 477px;
  height: 269.01px;
  border-radius: 15px;
}

.card-title {
  margin-top: 190px;
  font-size: 96px;
  color: white;
  font-weight: 400;
}

.homePageBody-link {
  height: 100%;
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 15px;
}

.homePageBody-hover {
  height: 100%;
  position: relative;
  border-radius: 15px
}

.card-img-bg {
  object-fit: cover;
}

.HPB {
  position: relative;
  height: 100%;
}

.HPB-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
  border-radius: 15px;
}

.HPB:hover .HPB-layer {
  visibility: visible;
  opacity: 1;
}

.HPB-text {
  transition: .2s;
  transform: translateY(1em);
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 30px;
}

.HPB:hover .HPB-text {
  transform: translateY(0);
}

.HomepageBody-title {
  font-family: 'Big Shoulders Stencil Display', sans-serif;
  font-size: 80px;
  margin-top: 42px;
  margin-bottom: 45px;
}

/* .homePageBody-link{
  border-radius: 15px;
} */
.btn-scheme-dark {
  color: #333;
  border: 2px solid black;
  border-radius: 0;
  margin-top: 32px;
  padding: 12px 28px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.btn-scheme-dark:hover {
  background-color: black;
  color: white
}

.HomepageBody-title-background {
  background-color: rgba(20, 20, 20, 0.11);
  padding: 10px 0;
}

.card-img-slider {
  object-fit: contain;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 10px
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev:after {
  font-size: 20px;
  position: absolute;
  right: 23px
}

.swiper-button-next:after {
  font-size: 20px;
  position: absolute;
  left: 23px
}

.swiper-wrapper {
  padding-bottom: 20px;
}

.HomePageBodySecondHalfSecondEL {
  margin-top: 36px
}

.HPBSHSe {
  border-radius: 20px
}

.FooterContainer {
  padding: 80px 20px 20px 20px;
}

.FooterAddress {
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 17px;
}

.FooterAddressLink {
  text-decoration: none;
  color: white;
}

.FooterAddress-social-media {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin: 0 5px;
  position: relative;
}

.FooterAddress-social-media a {
  color: white;
  display: flex;
  margin: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dropdown-divider {
  width: -webkit-fill-available;
  border-top: 1px solid white;
}

.articleContent {
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-size: 40px;
}

.article-header {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-size: 40px;
}

.article-main-left-content {
  width: calc(100% - var(--width-sidebar));
}

.side-bar-list {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
  padding: 20px 30px;
}

.side-bar-list-item-post-link {
  text-decoration: none;
  color: black;
}

.side-bar-list-item-post-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin: 15px 0 20px 0;
}

.articleContent-body {
  text-align: left;
  font-size: 17px;
}

.sticky-div {
  position: sticky;
  top: 10px;
  bottom: 10px;
}

.sticky-top {
  position: sticky;
  top: 10px;
  bottom: 10px;
  z-index: 1020;
}

.card-width {
  width: 18rem;
  transition: width 0.5s ease-in;
}

.card-width-expanded {
  width: 50%;
  transition: width 1s ease-out;
}

.site-content {
  margin-top: 40px;
  margin-bottom: 10px;
}

.articleText {
  margin: 1.5rem 0;
  font-family: Arial, Helvetica, sans-serif
}

.articleSideBarText {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-size: 30px;
  font-weight: 700;
}

.sidebar-button {
  border-radius: 20px;
}
/*Login*/
.LoginContainer{ 
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #5e351a, #fdfdfda7, #030302);
  background: url("https://a-static.besthdwallpaper.com/fine-home-interior-picture-wallpaper-3554x1999-83858_53.jpg") no-repeat center/ cover;
}  
.Loginmain{
  
  margin-bottom: 120px;
  margin-left: 40px;
	width: 350px;
	height: 500px;
	/* background: red; */
	overflow: hidden;
 background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; 
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
  
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
  background: rgba(199, 198, 198, 0.418);
}



label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 70%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button.Hoverbutton{
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #5e391a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button.Hoverbutton:hover{
	background: #585953;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #474742;
	transform: scale(.6);
  
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
/* het Login */
/* CSS for TEST2*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.SelectProduct{
  font-weight: normal;
  font-size: 16px;
  color:black;
  margin: 0px;
}
.productSelect{
  width:83%;
  height:93%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
#product-details {
  margin-top: 20px;
}
/* END CSS for TEST2*/
.providerInfo h4{
  font-weight: normal;
  font-size: 16px;
  text-align: start;
}
.providerInfoContent{
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 0px;
}
.leftText{
  width: 40%;
}
.rightText{
  width: 40%;
}
.productSelect{
  border: var(--bs-border-width) solid var(--bs-border-color);
  background-color: white;
}
.CustomerInput input{
  /* width:0; */
  background-color: white;
  margin: 5px 0px 5px 0px;
  padding: 10px 0px 10px 10px;
}
.AddProduct{
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #5e391a;
  font-size: 16px;
  font-weight: normal;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.AddButton{
  font-size: 16px;
  font-weight: normal;
  color:black;
	margin: 10px auto;
	justify-content: center;
	display: block;
	background-color: #ffff;
	margin-top: 20px;
	border: none;
}
.TotalPrice{
  margin: 20px 0 20px 0;
}
.Title{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Finish_button{
  
  width: 130px;
	height: 40px;
	margin: 20px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #5e391a;
  font-size: 16px;
  font-weight: normal;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}


/* popup projectdone */
.popup {
  margin: 40px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 1400px;
  height: 700px;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
}
.popup img {
  width: 100%;
}
.popup h2 {
  margin: 40px auto;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-left: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}


/* end popup projectdone */



/*Quan*/
.customerName{
  color: black;
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
/*Khang*/
.renderArticleNavButton{
  text-decoration: none;
  color: black;
  border: none;
  background-color: white;
}
/*Khang Loader CSS Start*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader .spinner-border {
  width: 5rem;
  height: 5rem;
}
/*Khang Loader CSS End*/
.customerLeft{
  text-align: left;
}
.green{
  background-color: rgb(125, 193, 125);
}
.yellow{
  background-color:rgb(216, 216, 103);
}
.red{
  background-color: rgba(255, 0, 0, 0.295);
}
.button-area{
  display: flex;
}
.BaogiaAccept-button{
  background-color: green;
  margin-right:10px
}
.BaogiaDecline-button{
  background-color: red;
  margin-left:10px
}
/*Model Start*/

 .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.active {
  opacity: 1;
  visibility: visible;
  /* transition: opacity 0.3s ease, visibility 0s linear; */
  transition: opacity .15s linear;
  transform: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  /* width: 20%; */
  align-items: center;
}
.modal.fade.active .modal-dialog {
  transition: transform .3s ease-out;
  transform: none
}
/*End*/
.Quantity{
  width: 34%;
  height:50%
}
.SearchInputBaoGia{
  width: 50%;
  height:50%
}
.DropdownBaoGia{
  width: 34%;
  height:50%
}
.DropdownLoaiNha{
  width: 16%;
  height:auto;
  margin-left:12px
}
.SelectHouseType{
  font-size:16px;
  margin:0px
}

.articleContent-header-imgDetails {
  width: 67%; /* or desired percentage */
  min-width: 700px; /* adjust as needed */
  width: 1300px;
}
.img-margin{
  /* margin-left:10px;
  margin-right:10px; */
  padding: 0 0 20px 0
}
.Text-Description{
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  /* font-weight: 600; */
}
.articleTitle{
  font-family: system-ui;
  font-size: 50px;
  font-weight:300;
}